@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
                <div class="text-center">
                    <h1 class="display-4">Bibliothèque du Centre Communautaire de BrownVille</h1>
                    <hr />
                    <p>
                        “Si vous possédez une bibliothèque et un jardin, vous avez tout ce qu'il vous faut.” “Une bibliothèque,
                        c'est le carrefour de tous les rêves de l'humanité.” “Le paradis, à n'en pas douter, n'est qu'une immense bibliothèque.”
                        “Une bibliothèque est un sanctuaire de la pensée pure.”  Inconnu  
                    </p>
                    <hr />
                    <div>
                        <h6>Adresse:</h6>
                        <p><i class="fa-solid fa-house fa-bounce"></i><br /><a href="https://goo.gl/maps/vGqhfjHu6UJ6GN6p7" target="_blank">63, Rue  Pavé, BrownVille<br>BrownVille, QC<br></a></p>
                    </div>
                    <div>
                        <h6>Numéro de télephone:</h6>
                        <p><i class="fa-solid fa-phone fa-shake"></i><br /><a href="tel:450-470-3000">438 483-3434</a></p>
                    </div>
                </div>
        </div>
      </div>
    </div>
  </div>

