@model GPLCC_2.Models.Membre

@{
    ViewData["Title"] = "Details";
}

<h1>Informations du membre</h1>

<div class="item">
    <div class="row">
        <div class="col-lg-3 col-sm-4">
            <div class="image">
            <img src="~/imagesBib/livre6.jpg" alt="">
            </div>
        </div>
        <div class="right-content col-lg-9 col-sm-8">
            <hr />
            <dl class="row">
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Nom)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.Nom)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Prenom)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.Prenom)
                </dd>
            </dl>
            <hr />
            <div>
                <a asp-action="Edit" asp-route-id="@Model?.Numero" class="btn btn-light">Modifier</a> |
                <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
            </div>
        </div>
    </div>
</div>

